.fruit{
    display: flex;
    justify-content: center;
    &__img{
        width: 85%;
        -webkit-filter: drop-shadow(15px 15px 15px grey);
        filter: drop-shadow(15px 15px 15px grey);

    }
}